pandas>=2.2.0
numpy>=1.26.0
nbformat>=4.2.0
bertopic>=0.16.0
sentence-transformers>=2.7.0
transformers>=4.40.0
torch>=2.2.0
scikit-learn>=1.4.0
umap-learn>=0.5.5
hdbscan>=0.8.33
deep-translator>=1.11.4
